body {
  color: #222;
  font-family: sans-serif;
  max-width: 768px;
  width: 90%;
  margin: 0 0 3rem 1rem;
  font-size: 18px;
  line-height: 1.5;
}

/*
The ::placeholder CSS pseudo-element is here to test autoprefixer. If the
autoprefixer does its job properly, the final CSS should be:
::-moz-placeholder {
  color: gray;
}
::placeholder {
  color: gray;
}
*/

::placeholder {
  color: gray;
}
